<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped">

      <tr>
        <th class="col-md-1">Id</th>
        <th class="col-md-9">Tasktype name</th>
        <th class="col-md-2">Edit/Remove</th>
      </tr>

      <% tasktypes.each do |tasktype| %>
          <tr>
            <td class="col-md-1"> <%= tasktype.id %></td>
            <td class="col-md-9"> <%= link_to tasktype.name, tasktype_path(tasktype) %></td>
            <td class="col-md-2">
              <div class="btn-group" role="group">
                <%= link_to bs_glyph('pencil'), edit_tasktype_path(tasktype) %>
                <%= link_to bs_glyph('trash'), tasktype_path(tasktype), method: :delete, data: {confirm: 'Are you sure'} %>
              </div>
            </td>
          </tr>
      <% end %>
    </table>

    <div class="row">
      <div class="col-sm-6">
        <%= form_tag({:controller => "tasktypes", :action => "name_search"}, method: :get) do %>
            <%= text_field_tag :name %>
            <%= submit_tag 'Search tasktype by name', name: nil %>
        <% end %>
      </div>
    </div>
  </div>
</div>

