<!DOCTYPE html>
<html>
<head>
  <title>TaskManagerRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key,value|%>
   <div class = "bg-info">
    <%= content_tag(:div, value, class: "alert alert-#(key)") %>
   </div>
<%end%>

<%= yield %>

</body>
</html>
